# Виртуальное окружение (самое важное!)
venv/
ENV/
env/

# База данных (в ней хранятся твои тестовые данные, их не шлют на гит)
*.sqlite3

# Временные файлы Python
__pycache__/
*.py[cod]
*$py.class

# Настройки PyCharm
.idea/

# Файлы операционной системы
.DS_Store
Thumbs.db